@import url('../app/globals.css');

.searchDiv {
    background-color: var(--colour-secondary);
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.3rem solid var(--colour-tertiary);
}

.searchDiv span {
    font-size: 1.5rem;
    padding-right: 1.5rem;
    color: var(--colour-tertiary);
}

.searchInput {
    background-color: var(--colour-tertiary);
    color: var(--text-secondary);
    border-radius: 0.3rem;
    padding: 0.5rem;
}